Repository njdifiore91/contractor-mgmt-platform-v2-omeoq2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @backend-team, @senior-developers, @backend-architects, @api-reviewers, @frontend-team, @ui-reviewers, @ui-architects, @devops-team, @infrastructure-architects, @ci-cd-reviewers, @qa-team, @test-automation-engineers, @security-team, @security-architects, @data-architects, @technical-writers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/.github/dependabot.yml
  .github/dependabot.yml
Owners: @project-maintainers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @technical-writers, @project-maintainers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/.github/workflows/backend-cd.yml
  .github/workflows/backend-cd.yml
Owners: @devops-team, @ci-cd-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team, @ci-cd-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/.github/workflows/web-cd.yml
  .github/workflows/web-cd.yml
Owners: @devops-team, @ci-cd-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/.github/workflows/web-ci.yml
  .github/workflows/web-ci.yml
Owners: @devops-team, @ci-cd-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @technical-writers, @project-maintainers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/blitzy/documentation/Product Requirements Document (PRD).md
  blitzy/documentation/Product Requirements Document (PRD).md
Owners: @technical-writers, @project-maintainers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @technical-writers, @project-maintainers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @technical-writers, @project-maintainers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/README.md
  infrastructure/README.md
Owners: @technical-writers, @project-maintainers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/azure/parameters/dev.parameters.json
  infrastructure/azure/parameters/dev.parameters.json
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/azure/parameters/prod.parameters.json
  infrastructure/azure/parameters/prod.parameters.json
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/kubernetes/backend-deployment.yaml
  infrastructure/kubernetes/backend-deployment.yaml
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/kubernetes/backend-service.yaml
  infrastructure/kubernetes/backend-service.yaml
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/kubernetes/config-maps.yaml
  infrastructure/kubernetes/config-maps.yaml
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/kubernetes/ingress.yaml
  infrastructure/kubernetes/ingress.yaml
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/kubernetes/secrets.yaml
  infrastructure/kubernetes/secrets.yaml
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/kubernetes/web-deployment.yaml
  infrastructure/kubernetes/web-deployment.yaml
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/kubernetes/web-service.yaml
  infrastructure/kubernetes/web-service.yaml
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/monitoring/alert-rules.yml
  infrastructure/monitoring/alert-rules.yml
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/monitoring/grafana-dashboard.json
  infrastructure/monitoring/grafana-dashboard.json
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/monitoring/prometheus.yml
  infrastructure/monitoring/prometheus.yml
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/scripts/backup-database.sh
  infrastructure/scripts/backup-database.sh
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/scripts/deploy-infrastructure.sh
  infrastructure/scripts/deploy-infrastructure.sh
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/scripts/init-infrastructure.sh
  infrastructure/scripts/init-infrastructure.sh
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/terraform/modules/app_service/main.tf
  infrastructure/terraform/modules/app_service/main.tf
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/terraform/modules/container_registry/main.tf
  infrastructure/terraform/modules/container_registry/main.tf
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/terraform/modules/key_vault/main.tf
  infrastructure/terraform/modules/key_vault/main.tf
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/terraform/modules/sql_server/main.tf
  infrastructure/terraform/modules/sql_server/main.tf
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/infrastructure/terraform/modules/storage_account/main.tf
  infrastructure/terraform/modules/storage_account/main.tf
Owners: @devops-team, @infrastructure-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/.gitignore
  src/backend/.gitignore
Owners: @backend-team, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/README.md
  src/backend/README.md
Owners: @technical-writers, @project-maintainers

.github/CODEOWNERS:

# Unless a later match takes precedence, these owners will be requested for review
* @project-maintainers

# Backend related files
/src/backend/**/* @backend-team @senior-developers
/src/backend/src/Backend.Core/**/* @backend-architects @senior-developers
/src/backend/src/Backend.API/**/* @backend-team @api-reviewers
/src/backend/Controllers/**/* @backend-team @api-reviewers

# Frontend related files
/src/web/**/* @frontend-team @ui-reviewers
/src/web/src/components/**/* @frontend-team @ui-architects
/src/web/src/views/**/* @frontend-team @ui-architects
/src/web/src/layouts/**/* @frontend-team @ui-architects

# Infrastructure and deployment
/infrastructure/**/* @devops-team @infrastructure-architects
/deployment/**/* @devops-team @infrastructure-architects
/docker/**/* @devops-team @infrastructure-architects

# GitHub workflows and CI/CD
/.github/workflows/* @devops-team @ci-cd-reviewers

# Test files
**/tests/**/* @qa-team @test-automation-engineers
**/*.spec.ts @qa-team @test-automation-engineers
**/*.test.ts @qa-team @test-automation-engineers
**/*Tests.cs @qa-team @test-automation-engineers
**/*Testing.cs @qa-team @test-automation-engineers

# Security and authentication related files
**/Auth/**/* @security-team @senior-developers @security-architects
**/Security/**/* @security-team @senior-developers @security-architects
**/Permissions/**/* @security-team @senior-developers @security-architects
**/Identity/**/* @security-team @senior-developers @security-architects
**/*Auth*.ts @security-team @senior-developers @security-architects
**/*Auth*.cs @security-team @senior-developers @security-architects
**/*Security*.ts @security-team @senior-developers @security-architects
**/*Security*.cs @security-team @senior-developers @security-architects

# Data access and models
**/Data/**/* @backend-team @data-architects
**/Models/**/* @backend-team @data-architects
**/Repositories/**/* @backend-team @data-architects
**/EntityFramework/**/* @backend-team @data-architects

# Documentation
**/*.md @technical-writers @project-maintainers
/docs/**/* @technical-writers @project-maintainers
