Repository njdifiore91/contractor-mgmt-platform-v2-omeoq2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @backend-team, @senior-developers, @backend-architects, @api-reviewers, @frontend-team, @ui-reviewers, @ui-architects, @devops-team, @infrastructure-architects, @ci-cd-reviewers, @qa-team, @test-automation-engineers, @security-team, @security-architects, @data-architects, @technical-writers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/Interfaces/Services/IOneDriveService.cs
  src/backend/src/Backend.Core/Interfaces/Services/IOneDriveService.cs
Owners: @backend-architects, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Infrastructure/Data/ApplicationDbContext.cs
  src/backend/src/Backend.Infrastructure/Data/ApplicationDbContext.cs
Owners: @backend-team, @data-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Infrastructure/Data/Configurations/CustomerConfiguration.cs
  src/backend/src/Backend.Infrastructure/Data/Configurations/CustomerConfiguration.cs
Owners: @backend-team, @data-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Infrastructure/Data/Configurations/EquipmentConfiguration.cs
  src/backend/src/Backend.Infrastructure/Data/Configurations/EquipmentConfiguration.cs
Owners: @backend-team, @data-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Infrastructure/Data/Configurations/InspectorConfiguration.cs
  src/backend/src/Backend.Infrastructure/Data/Configurations/InspectorConfiguration.cs
Owners: @backend-team, @data-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Infrastructure/Data/Configurations/UserConfiguration.cs
  src/backend/src/Backend.Infrastructure/Data/Configurations/UserConfiguration.cs
Owners: @backend-team, @data-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Infrastructure/Data/Migrations/InitialCreate.cs
  src/backend/src/Backend.Infrastructure/Data/Migrations/InitialCreate.cs
Owners: @backend-team, @data-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Infrastructure/Repositories/CustomerRepository.cs
  src/backend/src/Backend.Infrastructure/Repositories/CustomerRepository.cs
Owners: @backend-team, @data-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Infrastructure/Repositories/EquipmentRepository.cs
  src/backend/src/Backend.Infrastructure/Repositories/EquipmentRepository.cs
Owners: @backend-team, @data-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Infrastructure/Repositories/InspectorRepository.cs
  src/backend/src/Backend.Infrastructure/Repositories/InspectorRepository.cs
Owners: @backend-team, @data-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Infrastructure/Repositories/UserRepository.cs
  src/backend/src/Backend.Infrastructure/Repositories/UserRepository.cs
Owners: @backend-team, @data-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Infrastructure/Services/AzureStorageService.cs
  src/backend/src/Backend.Infrastructure/Services/AzureStorageService.cs
Owners: @backend-team, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Infrastructure/Services/EmailService.cs
  src/backend/src/Backend.Infrastructure/Services/EmailService.cs
Owners: @backend-team, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Infrastructure/Services/OneDriveService.cs
  src/backend/src/Backend.Infrastructure/Services/OneDriveService.cs
Owners: @backend-team, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/tests/Backend.IntegrationTests/CustomWebApplicationFactory.cs
  src/backend/tests/Backend.IntegrationTests/CustomWebApplicationFactory.cs
Owners: @qa-team, @test-automation-engineers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/tests/Backend.IntegrationTests/Controllers/AdminControllerTests.cs
  src/backend/tests/Backend.IntegrationTests/Controllers/AdminControllerTests.cs
Owners: @qa-team, @test-automation-engineers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/tests/Backend.IntegrationTests/Controllers/CustomerControllerTests.cs
  src/backend/tests/Backend.IntegrationTests/Controllers/CustomerControllerTests.cs
Owners: @qa-team, @test-automation-engineers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/tests/Backend.IntegrationTests/Controllers/EquipmentControllerTests.cs
  src/backend/tests/Backend.IntegrationTests/Controllers/EquipmentControllerTests.cs
Owners: @qa-team, @test-automation-engineers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/tests/Backend.IntegrationTests/Controllers/InspectorControllerTests.cs
  src/backend/tests/Backend.IntegrationTests/Controllers/InspectorControllerTests.cs
Owners: @qa-team, @test-automation-engineers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/tests/Backend.UnitTests/Controllers/AdminControllerTests.cs
  src/backend/tests/Backend.UnitTests/Controllers/AdminControllerTests.cs
Owners: @qa-team, @test-automation-engineers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/tests/Backend.UnitTests/Controllers/CustomerControllerTests.cs
  src/backend/tests/Backend.UnitTests/Controllers/CustomerControllerTests.cs
Owners: @qa-team, @test-automation-engineers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/tests/Backend.UnitTests/Controllers/EquipmentControllerTests.cs
  src/backend/tests/Backend.UnitTests/Controllers/EquipmentControllerTests.cs
Owners: @qa-team, @test-automation-engineers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/tests/Backend.UnitTests/Controllers/InspectorControllerTests.cs
  src/backend/tests/Backend.UnitTests/Controllers/InspectorControllerTests.cs
Owners: @qa-team, @test-automation-engineers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/tests/Backend.UnitTests/Services/EmailServiceTests.cs
  src/backend/tests/Backend.UnitTests/Services/EmailServiceTests.cs
Owners: @qa-team, @test-automation-engineers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/.eslintignore
  src/web/.eslintignore
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/.eslintrc.js
  src/web/.eslintrc.js
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/.gitignore
  src/web/.gitignore
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/README.md
  src/web/README.md
Owners: @technical-writers, @project-maintainers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/index.html
  src/web/index.html
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/package.json
  src/web/package.json
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/App.vue
  src/web/src/App.vue
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/env.d.ts
  src/web/src/env.d.ts
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/main.ts
  src/web/src/main.ts
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/quasar.d.ts
  src/web/src/quasar.d.ts
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/shims-vue.d.ts
  src/web/src/shims-vue.d.ts
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/assets/styles/main.scss
  src/web/src/assets/styles/main.scss
Owners: @frontend-team, @ui-reviewers

.github/CODEOWNERS:

# Unless a later match takes precedence, these owners will be requested for review
* @project-maintainers

# Backend related files
/src/backend/**/* @backend-team @senior-developers
/src/backend/src/Backend.Core/**/* @backend-architects @senior-developers
/src/backend/src/Backend.API/**/* @backend-team @api-reviewers
/src/backend/Controllers/**/* @backend-team @api-reviewers

# Frontend related files
/src/web/**/* @frontend-team @ui-reviewers
/src/web/src/components/**/* @frontend-team @ui-architects
/src/web/src/views/**/* @frontend-team @ui-architects
/src/web/src/layouts/**/* @frontend-team @ui-architects

# Infrastructure and deployment
/infrastructure/**/* @devops-team @infrastructure-architects
/deployment/**/* @devops-team @infrastructure-architects
/docker/**/* @devops-team @infrastructure-architects

# GitHub workflows and CI/CD
/.github/workflows/* @devops-team @ci-cd-reviewers

# Test files
**/tests/**/* @qa-team @test-automation-engineers
**/*.spec.ts @qa-team @test-automation-engineers
**/*.test.ts @qa-team @test-automation-engineers
**/*Tests.cs @qa-team @test-automation-engineers
**/*Testing.cs @qa-team @test-automation-engineers

# Security and authentication related files
**/Auth/**/* @security-team @senior-developers @security-architects
**/Security/**/* @security-team @senior-developers @security-architects
**/Permissions/**/* @security-team @senior-developers @security-architects
**/Identity/**/* @security-team @senior-developers @security-architects
**/*Auth*.ts @security-team @senior-developers @security-architects
**/*Auth*.cs @security-team @senior-developers @security-architects
**/*Security*.ts @security-team @senior-developers @security-architects
**/*Security*.cs @security-team @senior-developers @security-architects

# Data access and models
**/Data/**/* @backend-team @data-architects
**/Models/**/* @backend-team @data-architects
**/Repositories/**/* @backend-team @data-architects
**/EntityFramework/**/* @backend-team @data-architects

# Documentation
**/*.md @technical-writers @project-maintainers
/docs/**/* @technical-writers @project-maintainers
