Repository njdifiore91/contractor-mgmt-platform-v2-omeoq2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @backend-team, @senior-developers, @backend-architects, @api-reviewers, @frontend-team, @ui-reviewers, @ui-architects, @devops-team, @infrastructure-architects, @ci-cd-reviewers, @qa-team, @test-automation-engineers, @security-team, @security-architects, @data-architects, @technical-writers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/docker-compose.override.yml
  src/backend/docker-compose.override.yml
Owners: @backend-team, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/global.json
  src/backend/global.json
Owners: @backend-team, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.API/Program.cs
  src/backend/src/Backend.API/Program.cs
Owners: @backend-team, @api-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.API/Startup.cs
  src/backend/src/Backend.API/Startup.cs
Owners: @backend-team, @api-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.API/appsettings.Development.json
  src/backend/src/Backend.API/appsettings.Development.json
Owners: @backend-team, @api-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.API/appsettings.json
  src/backend/src/Backend.API/appsettings.json
Owners: @backend-team, @api-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.API/Controllers/AdminController.cs
  src/backend/src/Backend.API/Controllers/AdminController.cs
Owners: @backend-team, @api-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.API/Controllers/AuthController.cs
  src/backend/src/Backend.API/Controllers/AuthController.cs
Owners: @security-team, @senior-developers, @security-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.API/Controllers/CustomerController.cs
  src/backend/src/Backend.API/Controllers/CustomerController.cs
Owners: @backend-team, @api-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.API/Controllers/EquipmentController.cs
  src/backend/src/Backend.API/Controllers/EquipmentController.cs
Owners: @backend-team, @api-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.API/Controllers/InspectorController.cs
  src/backend/src/Backend.API/Controllers/InspectorController.cs
Owners: @backend-team, @api-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.API/Filters/AuthorizationFilter.cs
  src/backend/src/Backend.API/Filters/AuthorizationFilter.cs
Owners: @security-team, @senior-developers, @security-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.API/Middleware/ExceptionHandlingMiddleware.cs
  src/backend/src/Backend.API/Middleware/ExceptionHandlingMiddleware.cs
Owners: @backend-team, @api-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.API/Properties/launchSettings.json
  src/backend/src/Backend.API/Properties/launchSettings.json
Owners: @backend-team, @api-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/DTOs/Admin/CodeTypeDto.cs
  src/backend/src/Backend.Core/DTOs/Admin/CodeTypeDto.cs
Owners: @backend-architects, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/DTOs/Admin/QuickLinkDto.cs
  src/backend/src/Backend.Core/DTOs/Admin/QuickLinkDto.cs
Owners: @backend-architects, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/DTOs/Admin/UserDto.cs
  src/backend/src/Backend.Core/DTOs/Admin/UserDto.cs
Owners: @backend-architects, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/DTOs/Customer/ContactDto.cs
  src/backend/src/Backend.Core/DTOs/Customer/ContactDto.cs
Owners: @backend-architects, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/DTOs/Customer/ContractDto.cs
  src/backend/src/Backend.Core/DTOs/Customer/ContractDto.cs
Owners: @backend-architects, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/DTOs/Customer/CustomerDto.cs
  src/backend/src/Backend.Core/DTOs/Customer/CustomerDto.cs
Owners: @backend-architects, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/DTOs/Equipment/EquipmentDto.cs
  src/backend/src/Backend.Core/DTOs/Equipment/EquipmentDto.cs
Owners: @backend-architects, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/DTOs/Inspector/DrugTestDto.cs
  src/backend/src/Backend.Core/DTOs/Inspector/DrugTestDto.cs
Owners: @backend-architects, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/DTOs/Inspector/InspectorDto.cs
  src/backend/src/Backend.Core/DTOs/Inspector/InspectorDto.cs
Owners: @backend-architects, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/Entities/Code.cs
  src/backend/src/Backend.Core/Entities/Code.cs
Owners: @backend-architects, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/Entities/CodeType.cs
  src/backend/src/Backend.Core/Entities/CodeType.cs
Owners: @backend-architects, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/Entities/Contact.cs
  src/backend/src/Backend.Core/Entities/Contact.cs
Owners: @backend-architects, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/Entities/Contract.cs
  src/backend/src/Backend.Core/Entities/Contract.cs
Owners: @backend-architects, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/Entities/Customer.cs
  src/backend/src/Backend.Core/Entities/Customer.cs
Owners: @backend-architects, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/Entities/DrugTest.cs
  src/backend/src/Backend.Core/Entities/DrugTest.cs
Owners: @backend-architects, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/Entities/Equipment.cs
  src/backend/src/Backend.Core/Entities/Equipment.cs
Owners: @backend-architects, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/Entities/Inspector.cs
  src/backend/src/Backend.Core/Entities/Inspector.cs
Owners: @backend-architects, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/Entities/QuickLink.cs
  src/backend/src/Backend.Core/Entities/QuickLink.cs
Owners: @backend-architects, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/Entities/User.cs
  src/backend/src/Backend.Core/Entities/User.cs
Owners: @backend-architects, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/Interfaces/IUnitOfWork.cs
  src/backend/src/Backend.Core/Interfaces/IUnitOfWork.cs
Owners: @backend-architects, @senior-developers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/Interfaces/Repositories/ICustomerRepository.cs
  src/backend/src/Backend.Core/Interfaces/Repositories/ICustomerRepository.cs
Owners: @backend-team, @data-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/Interfaces/Repositories/IEquipmentRepository.cs
  src/backend/src/Backend.Core/Interfaces/Repositories/IEquipmentRepository.cs
Owners: @backend-team, @data-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/Interfaces/Repositories/IInspectorRepository.cs
  src/backend/src/Backend.Core/Interfaces/Repositories/IInspectorRepository.cs
Owners: @backend-team, @data-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/Interfaces/Repositories/IUserRepository.cs
  src/backend/src/Backend.Core/Interfaces/Repositories/IUserRepository.cs
Owners: @backend-team, @data-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/backend/src/Backend.Core/Interfaces/Services/IEmailService.cs
  src/backend/src/Backend.Core/Interfaces/Services/IEmailService.cs
Owners: @backend-architects, @senior-developers

.github/CODEOWNERS:

# Unless a later match takes precedence, these owners will be requested for review
* @project-maintainers

# Backend related files
/src/backend/**/* @backend-team @senior-developers
/src/backend/src/Backend.Core/**/* @backend-architects @senior-developers
/src/backend/src/Backend.API/**/* @backend-team @api-reviewers
/src/backend/Controllers/**/* @backend-team @api-reviewers

# Frontend related files
/src/web/**/* @frontend-team @ui-reviewers
/src/web/src/components/**/* @frontend-team @ui-architects
/src/web/src/views/**/* @frontend-team @ui-architects
/src/web/src/layouts/**/* @frontend-team @ui-architects

# Infrastructure and deployment
/infrastructure/**/* @devops-team @infrastructure-architects
/deployment/**/* @devops-team @infrastructure-architects
/docker/**/* @devops-team @infrastructure-architects

# GitHub workflows and CI/CD
/.github/workflows/* @devops-team @ci-cd-reviewers

# Test files
**/tests/**/* @qa-team @test-automation-engineers
**/*.spec.ts @qa-team @test-automation-engineers
**/*.test.ts @qa-team @test-automation-engineers
**/*Tests.cs @qa-team @test-automation-engineers
**/*Testing.cs @qa-team @test-automation-engineers

# Security and authentication related files
**/Auth/**/* @security-team @senior-developers @security-architects
**/Security/**/* @security-team @senior-developers @security-architects
**/Permissions/**/* @security-team @senior-developers @security-architects
**/Identity/**/* @security-team @senior-developers @security-architects
**/*Auth*.ts @security-team @senior-developers @security-architects
**/*Auth*.cs @security-team @senior-developers @security-architects
**/*Security*.ts @security-team @senior-developers @security-architects
**/*Security*.cs @security-team @senior-developers @security-architects

# Data access and models
**/Data/**/* @backend-team @data-architects
**/Models/**/* @backend-team @data-architects
**/Repositories/**/* @backend-team @data-architects
**/EntityFramework/**/* @backend-team @data-architects

# Documentation
**/*.md @technical-writers @project-maintainers
/docs/**/* @technical-writers @project-maintainers
