Repository njdifiore91/contractor-mgmt-platform-v2-omeoq2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @backend-team, @senior-developers, @backend-architects, @api-reviewers, @frontend-team, @ui-reviewers, @ui-architects, @devops-team, @infrastructure-architects, @ci-cd-reviewers, @qa-team, @test-automation-engineers, @security-team, @security-architects, @data-architects, @technical-writers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/assets/styles/quasar.variables.scss
  src/web/src/assets/styles/quasar.variables.scss
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/components/admin/CodeTypeEditor.vue
  src/web/src/components/admin/CodeTypeEditor.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/components/admin/QuickLinksEditor.vue
  src/web/src/components/admin/QuickLinksEditor.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/components/admin/UserEditor.vue
  src/web/src/components/admin/UserEditor.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/components/common/BaseDialog.vue
  src/web/src/components/common/BaseDialog.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/components/common/BaseForm.vue
  src/web/src/components/common/BaseForm.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/components/common/BaseSearch.vue
  src/web/src/components/common/BaseSearch.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/components/common/BaseTable.vue
  src/web/src/components/common/BaseTable.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/components/common/VirtualScroller.vue
  src/web/src/components/common/VirtualScroller.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/components/customer/ContactForm.vue
  src/web/src/components/customer/ContactForm.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/components/customer/ContractForm.vue
  src/web/src/components/customer/ContractForm.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/components/customer/CustomerForm.vue
  src/web/src/components/customer/CustomerForm.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/components/customer/CustomerSearch.vue
  src/web/src/components/customer/CustomerSearch.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/components/equipment/EquipmentAssignment.vue
  src/web/src/components/equipment/EquipmentAssignment.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/components/equipment/EquipmentList.vue
  src/web/src/components/equipment/EquipmentList.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/components/equipment/EquipmentReturn.vue
  src/web/src/components/equipment/EquipmentReturn.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/components/inspector/ClassChangeForm.vue
  src/web/src/components/inspector/ClassChangeForm.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/components/inspector/DemobilizationForm.vue
  src/web/src/components/inspector/DemobilizationForm.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/components/inspector/DrugTestForm.vue
  src/web/src/components/inspector/DrugTestForm.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/components/inspector/InspectorSearch.vue
  src/web/src/components/inspector/InspectorSearch.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/components/inspector/MobilizationForm.vue
  src/web/src/components/inspector/MobilizationForm.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/composables/useAuth.ts
  src/web/src/composables/useAuth.ts
Owners: @security-team, @senior-developers, @security-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/composables/useEmailDialog.ts
  src/web/src/composables/useEmailDialog.ts
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/composables/useOneDrive.ts
  src/web/src/composables/useOneDrive.ts
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/composables/usePermissions.ts
  src/web/src/composables/usePermissions.ts
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/composables/useVirtualScroll.ts
  src/web/src/composables/useVirtualScroll.ts
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/layouts/AuthLayout.vue
  src/web/src/layouts/AuthLayout.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/layouts/MainLayout.vue
  src/web/src/layouts/MainLayout.vue
Owners: @frontend-team, @ui-architects

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/pages/admin/CodeTypesPage.vue
  src/web/src/pages/admin/CodeTypesPage.vue
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/pages/admin/QuickLinksPage.vue
  src/web/src/pages/admin/QuickLinksPage.vue
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/pages/admin/UsersPage.vue
  src/web/src/pages/admin/UsersPage.vue
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/pages/customer/ContactManagementPage.vue
  src/web/src/pages/customer/ContactManagementPage.vue
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/pages/customer/ContractManagementPage.vue
  src/web/src/pages/customer/ContractManagementPage.vue
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/pages/customer/CustomerDetailPage.vue
  src/web/src/pages/customer/CustomerDetailPage.vue
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/pages/customer/CustomerListPage.vue
  src/web/src/pages/customer/CustomerListPage.vue
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/pages/equipment/EquipmentAssignmentPage.vue
  src/web/src/pages/equipment/EquipmentAssignmentPage.vue
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/pages/equipment/EquipmentListPage.vue
  src/web/src/pages/equipment/EquipmentListPage.vue
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/pages/equipment/EquipmentReturnPage.vue
  src/web/src/pages/equipment/EquipmentReturnPage.vue
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/pages/inspector/ClassChangePage.vue
  src/web/src/pages/inspector/ClassChangePage.vue
Owners: @frontend-team, @ui-reviewers

Add public-samples/contractor-mgmt-platform-v2-omeoq2/src/web/src/pages/inspector/DemobilizationPage.vue
  src/web/src/pages/inspector/DemobilizationPage.vue
Owners: @frontend-team, @ui-reviewers

.github/CODEOWNERS:

# Unless a later match takes precedence, these owners will be requested for review
* @project-maintainers

# Backend related files
/src/backend/**/* @backend-team @senior-developers
/src/backend/src/Backend.Core/**/* @backend-architects @senior-developers
/src/backend/src/Backend.API/**/* @backend-team @api-reviewers
/src/backend/Controllers/**/* @backend-team @api-reviewers

# Frontend related files
/src/web/**/* @frontend-team @ui-reviewers
/src/web/src/components/**/* @frontend-team @ui-architects
/src/web/src/views/**/* @frontend-team @ui-architects
/src/web/src/layouts/**/* @frontend-team @ui-architects

# Infrastructure and deployment
/infrastructure/**/* @devops-team @infrastructure-architects
/deployment/**/* @devops-team @infrastructure-architects
/docker/**/* @devops-team @infrastructure-architects

# GitHub workflows and CI/CD
/.github/workflows/* @devops-team @ci-cd-reviewers

# Test files
**/tests/**/* @qa-team @test-automation-engineers
**/*.spec.ts @qa-team @test-automation-engineers
**/*.test.ts @qa-team @test-automation-engineers
**/*Tests.cs @qa-team @test-automation-engineers
**/*Testing.cs @qa-team @test-automation-engineers

# Security and authentication related files
**/Auth/**/* @security-team @senior-developers @security-architects
**/Security/**/* @security-team @senior-developers @security-architects
**/Permissions/**/* @security-team @senior-developers @security-architects
**/Identity/**/* @security-team @senior-developers @security-architects
**/*Auth*.ts @security-team @senior-developers @security-architects
**/*Auth*.cs @security-team @senior-developers @security-architects
**/*Security*.ts @security-team @senior-developers @security-architects
**/*Security*.cs @security-team @senior-developers @security-architects

# Data access and models
**/Data/**/* @backend-team @data-architects
**/Models/**/* @backend-team @data-architects
**/Repositories/**/* @backend-team @data-architects
**/EntityFramework/**/* @backend-team @data-architects

# Documentation
**/*.md @technical-writers @project-maintainers
/docs/**/* @technical-writers @project-maintainers
